@import url('/styles/style.css');

/* Home */
.home {
    background-color: var(--black);
    height: 100vh;
    display: flex;
    font-family: 'Jost', sans-serif;
    justify-content: center;
    min-height: 600px;
    overflow: hidden;
}

.home-title {
    display: flex;
    height: 100%;
    width: 100%;
    max-width: 1477px;
    margin-left: 8%;
    align-items: center;
    justify-content: space-between;
}

.home-title-content {
    width: 100%;
    margin: 5rem;
    position: relative;
    z-index: 2;
}

div.home-title-main-name {
    background: linear-gradient(-45deg, #00e1ff, #3cc8ff, #067bbe, #606af0, #d036ff, #db9eff, #00e7c1f1, #3cffde);
    background-size: 300%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    font-size: 4rem;
    letter-spacing: 7px;
    text-transform: uppercase;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animated_text 3s ease-in infinite;
    -moz-animation: animated_text 3s ease-in infinite;
    -webkit-animation: animated_text 3s ease-in infinite;
}

@keyframes animated_text {
    0% {
        background-position: 0px 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0px 50%;
    }
}

.home .home-title>.home-title-content .home-title-main,
.home .home-title>.home-title-content .home-title-sub {
    color: var(--white);
    font-size: 2.5rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    margin: 0;
}

.home-title-image-wrapper {
    height: 325px;
    border-radius: 5px;
}

.home-title-sub {
    font-size: 1.5rem;
    font-weight: 500;
}

/* About */
.about {
    background-color: var(--dark-black);
    color: var(--white);
}

.about-content {
    padding: 3rem 0;
    display: flex;
    justify-content: center;
}

.about-container {
    margin: 0 5rem;
    width: calc(100% - 10rem);
    max-width: 900px;
    color: var(--gray);
}

p.about-description {
    font-size: 1.1rem;
    line-height: 1.3rem;
    margin-bottom: 2rem;
}

.about-buttons {
    display: flex;
    margin-bottom: 3rem;
    margin-left: 36.75%;
}

.about-buttons>* {
    margin-right: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    color: var(--primary);
    text-decoration: none;
    font-size: 1.4rem;
    flex-shrink: 0;
    background-color: var(--black);
    box-shadow: 0 0 0 2px var(--purple), 3px 3px 0 3px var(--primary);
    border-radius: 0px;
}

.about .about-content>.about-container .about-buttons>*:hover,
.about .about-content>.about-container .about-buttons>*:focus,
.about .about-content>.about-container .about-buttons>*:focus-within {
    color: var(--white);
    background: linear-gradient(45deg, var(--primary) 0%, var(--purple) 100%);
    box-shadow: 0 0 0 2px var(--purple), 5px 5px 0 3px var(--primary);
    transform: translateY(-2px) translateX(-2px);
    -webkit-transform: translateY(-2px) translateX(-2px);
    -moz-transform: translateY(-2px) translateX(-2px);
    -ms-transform: translateY(-2px) translateX(-2px);
    -o-transform: translateY(-2px) translateX(-2px);
}

@media (max-width: 514px) {
    .about-buttons>* {
        width: 40px;
        height: 40px;
        font-size: 1.2rem;
    }
}

@media (max-width: 475px) {
    .about-container {
        margin: 0 3rem;
        width: calc(100% - 6rem);
    }

    .about .page-title>* {
        margin-left: 3rem;
        margin-right: 3rem;
        width: calc(100% - 6rem);
    }
}

@media (max-width: 375px) {
    .about-container {
        margin: 0 2rem;
        width: calc(100% - 4rem);
    }

    .page-title>* {
        margin-left: 2rem;
        margin-right: 2rem;
        width: calc(100% - 4rem);
    }
}

@media (max-width: 330px) {
    .about-buttons {
        justify-content: space-between;
        width: 100%;
    }

    .about-buttons>* {
        height: 35px;
        width: 35px;
        font-size: 1rem;
        box-shadow: none;
        margin-right: 0rem;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
    }

    .about .about-content>.about-container .about-buttons>*:hover,
    .about .about-content>.about-container .about-buttons>*:focus,
    .about .about-content>.about-container .about-buttons>*:focus-within {
        box-shadow: none;
        transform: translateY(0px) translateX(0px);
        -webkit-transform: translateY(0px) translateX(0px);
        -moz-transform: translateY(0px) translateX(0px);
        -ms-transform: translateY(0px) translateX(0px);
        -o-transform: translateY(0px) translateX(0px);
    }
}

/* Footer */
.footer {
    background-color: var(--black);
    color: var(--primary);
    display: flex;
    justify-content: center;
    font-size: 1.1rem;
    font-family: 'Jost', sans-serif;
    font-weight: 500;
    text-align: center;
    line-height: 1.5rem;
    padding: 3rem 0;
}

.footer a {
    color: var(--gray);
    text-decoration: none;
    font-size: 1.2em;
}
